In [1]:
pip install folium pydub librosa

Requirement already satisfied: folium in c:\users\emman\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: pydub in c:\users\emman\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: librosa in c:\users\emman\anaconda3\lib\site-packages (0.10.0.post2)
Requirement already satisfied: jinja2>=2.9 in c:\users\emman\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: requests in c:\users\emman\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: numpy in c:\users\emman\anaconda3\lib\site-packages (from folium) (1.21.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\emman\anaconda3\lib\site-packages (from folium) (0.6.0)
Requirement already satisfied: msgpack>=1.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (1.0.3)
Requirement already satisfied: scipy>=1.2.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (1.9.1)
Requirement already satisfied: pooch<1.7,>=1.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (1.6.0)
Requirement already satisfied: soundfile>=0.12.1 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (0.12.1)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (4.3.0)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (1.0.2)
Requirement already satisfied: decorator>=4.3.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (5.1.1)
Requirement already satisfied: audioread>=2.1.9 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (3.0.0)
Requirement already satisfied: joblib>=0.14 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (1.1.0)
Requirement already satisfied: soxr>=0.3.2 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (0.3.5)
Requirement already satisfied: numba>=0.51.0 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (0.55.1)
Requirement already satisfied: lazy-loader>=0.1 in c:\users\emman\anaconda3\lib\site-packages (from librosa) (0.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\emman\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: setuptools in c:\users\emman\anaconda3\lib\site-packages (from numba>=0.51.0->librosa) (63.4.1)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in c:\users\emman\anaconda3\lib\site-packages (from numba>=0.51.0->librosa) (0.38.0)
Requirement already satisfied: packaging>=20.0 in c:\users\emman\anaconda3\lib\site-packages (from pooch<1.7,>=1.0->librosa) (21.3)
Requirement already satisfied: appdirs>=1.3.0 in c:\users\emman\anaconda3\lib\site-packages (from pooch<1.7,>=1.0->librosa) (1.4.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\emman\anaconda3\lib\site-packages (from requests->folium) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\emman\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\emman\anaconda3\lib\site-packages (from requests->folium) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\emman\anaconda3\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\emman\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->librosa) (2.2.0)
Requirement already satisfied: cffi>=1.0 in c:\users\emman\anaconda3\lib\site-packages (from soundfile>=0.12.1->librosa) (1.15.1)
Requirement already satisfied: pycparser in c:\users\emman\anaconda3\lib\site-packages (from cffi>=1.0->soundfile>=0.12.1->librosa) (2.21)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\emman\anaconda3\lib\site-packages (from packaging>=20.0->pooch<1.7,>=1.0->librosa) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.cm as mtpltcm
from mpl_toolkits.mplot3d import Axes3D
import random
import folium
from folium.plugins import HeatMap, HeatMapWithTime
from folium import plugins
from netCDF4 import Dataset
import cartopy.crs as ccrs
import pydub
from scipy.io.wavfile import read, write
import librosa
import librosa.display
import IPython
from IPython.display import Audio
import scipy
import skimage
from IPython.display import HTML
import matplotlib.animation as animation
import PIL
from scipy import signal
from scipy.fft import fftshift
from mpl_toolkits.mplot3d import art3d
import os
import os.path
from pathlib import Path
import glob


from warnings import filterwarnings

filterwarnings("ignore",category=DeprecationWarning)
filterwarnings("ignore", category=FutureWarning) 
filterwarnings("ignore", category=UserWarning)
filterwarnings("ignore", category=RuntimeWarning)

C:\Users\emman\anaconda3\lib\site-packages\pydub\utils.py:170: RuntimeWarning: Couldn't find ffmpeg or avconv - defaulting to ffmpeg, but may not work
  warn("Couldn't find ffmpeg or avconv - defaulting to ffmpeg, but may not work", RuntimeWarning)

In [3]:
ALL_CDF_PATH = "CSR_GRACE_GRACE-FO_RL06_Mascons_all-corrections_v02.nc"
READ_CDF = Dataset(ALL_CDF_PATH)

In [4]:
READ_CDF.variables["time"].Units

'days since 2002-01-01T00:00:00Z'

In [101]:
READ_CDF

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.6, ACDD-1.3, ISO 8601
    filename: netcdf/CSR_GRACE_GRACE-FO_RL06_Mascons_all-corrections_v02.nc
    Metadata_Conventions: Unidata Dataset Discovery v1.0
    standard_name_vocabulary: NetCDF Climate and Forecast (CF) Metadata Convention-1.6
    title: CSR GRACE and GRACE-FO MASCON RL06Mv2
    subtitle: GRACE/GRACE-FO Total water storage with all correction applied
    summary: Monthly mass anomaly grids from GRACE and GRACE-FO determined from CSR RL06 processing
    keywords: Solid Earth, Geodetics/Gravity, Gravity, liquid_water_equivalent_thickness
    keywords_vocabulary: NASA Global Change Master Directory (GCMD) Science Keywords
    platform: GRACE and GRACE-FO
    institution: The University of Texas - Center for Space Research (CSR)
    creator_name: Himanshu Save
    creator_email: grace@csr.utexas.edu
    creator_url: http://www2.csr.utexas.edu/grace
    creator_type: group
    creator_institution: UT-CSR
    publisher_name: Center for Space Research
    publisher_email: grace@csr.utexas.edu
    publisher_url: http://www2.csr.utexas.edu/grace
    publisher_type: group
    publisher_institution: UT-CSR
    project: NASA Gravity Recovery and Climate Experiment (GRACE) and NASA Gravity Recovery and Climate Experiment Follow-On (GRACE-FO)
    program: NASA Earth Science System Pathfinder and NASA Earth Systematic Missions Program
    url: https://doi.org/10.15781/cgq9-nh24
    id: 10.15781/cgq9-nh24
    naming_authority: org.doi.dx
    source: GRACE and GRACE-FO CSR RL06Mv2 Mascon
    processing_level: 2 and 3
    acknowledgement: GRACE is a joint mission of NASA (USA) and DLR (Germany).  GRACE-FO is a joint mission of NASA (USA) and the German Research Center for Geosciences (GFZ).  Use the digital object identifier provided in the id attribute when citing this data.  See https://podaac.jpl.nasa.gov/CitingPODAAC
    license: https://science.nasa.gov/earth-science/earth-science-data/data-information-policy
    product_version: RL06 v2.0
    data_author: Himanshu Save (save@csr.utexas.edu)
    journal_reference: Save, H., S. Bettadpur, B. D. Tapley (2016), High resolution CSR GRACE RL05 mascons, J. Geophys. Res. Solid Earth
    time_epoch: 2002-01-01T00:00:00Z
    time_coverage_start: 2002-04-05T00:00:00Z
    time_coverage_end: 2022-12-31T23:59:59Z
    geospatial_lat_min: -89.875
    geospatial_lat_max: 89.875
    geospatial_lat_units: degrees_north
    geospatial_lat_resolution: 0.25 degree grid; however the mascons are estimated on a 1-degree equal area mascons and the native resolution of the GRACE/GRACE-FO data is roughly 300km
    geospatial_lon_min: 0.125
    geospatial_lon_max: 359.875
    geospatial_lon_units: degrees_east
    time_mean_removed: 2004.000 to 2009.999
    months_missing: 2002-06;2002-07;2003-06;2011-01;2011-06;2012-05;2012-10;2013-03;2013-08;2013-09;2014-02;2014-07;2014-12;2015-06;2015-10;2015-11;2016-04;2016-09;2016-10;2017-02;2017-02;2017-07;2017-08;2017-09;2017-10;2017-11;2017-12;2018-01;2018-02;2018-03;2018-04;2018-05;2018-08,2018-09
    postprocess_1: Water density used to convert to equivalent water height: 1025 kg/m^3
    postprocess_2: RL06 AOD1B; OCEAN_ATMOSPHERE_DEALIAS_MODEL (GAD), MONTHLY_AVE, ADDED BACK TO OCEAN PIXELS ONLY
    GIA_Removed: ICE6G-D; Peltier, W. R., D. F. Argus, and R. Drummond (2018) Comment on the paper by Purcell et al. 2016 entitled An assessment of ICE-6G_C (VM5a) glacial isostatic adjustment model, J. Geophys. Res. Solid Earth, 122.
    geocenter_correction: Version of TN-13 based on the CSR RL06 (https://podaac-tools.jpl.nasa.gov/drive/files/allData/grace/docs/TN-13_GEOC_CSR_RL06.txt)
    C_20_substitution: TN-14; Loomis et al., 2019, Geophys. Res. Lett., doi:10.1029/2019GL082929 (https://podaac-tools.jpl.nasa.gov/drive/files/allData/gracefo/docs/TN-14_C30_C20_GSFC_SLR.txt)
    C_30_substitution: TN-14; Loomis et al., 2019, Geophys. Res. Lett., doi:10.1029/2019GL082929 (https://podaac-tools.jpl.nasa.gov/drive/files/allData/gracefo/docs/TN-14_C30_C20_GSFC_SLR.txt)
    user_note_1: The accelerometer on the GRACE-B spacecraft was turned off after August 2016.  After this date, the accelerometer on GRACE-A was used to derive the non-gravitational accelerations acting on GRACE-B using a transplant procedure.  This has led to a subsequent degradation in the quality of the gravity fields derived.
    user_note_2: The accelerometer on the GRACE-FO 2 spacecraft has underperformed since after launch.  The accelerometer on GRACE-FO 1 was used to derive the non-gravitational accelerations acting on GRACE-FO 2 using a transplant procedure. This has led to a degradation in the quality of the gravity fields derived.
    user_note_3: Ellipsoidal correction has been applied. The grid is represented on the ellipsoid with semi-major axis of 6378.1363 km
    date_created: 2023-03-23T12:19:20Z
    variable: liquid water equivalent thickness
    label: RL06rc24cE
    Mask: Global
    dimensions(sizes): timebound(2), time(216), lon(1440), lat(720)
    variables(dimensions): float32 time_bounds(time, timebound), float32 time(time), float32 lon(lon), float32 lat(lat), float32 lwe_thickness(time, lat, lon)
    groups:

In [5]:
print(READ_CDF.variables.keys())

dict_keys(['time_bounds', 'time', 'lon', 'lat', 'lwe_thickness'])

In [6]:
print(READ_CDF.variables["lwe_thickness"].long_name)

Liquid_Water_Equivalent_Thickness

In [7]:
print(READ_CDF.variables["lwe_thickness"].dimensions)

('time', 'lat', 'lon')

In [8]:
print(READ_CDF.variables["lwe_thickness"].dimensions)

('time', 'lat', 'lon')

In [9]:
print(READ_CDF.variables["lwe_thickness"].shape)

(216, 720, 1440)

In [12]:
READ_CDF["lwe_thickness"].coordinates

'time lat lon'

In [13]:
print(READ_CDF.variables["lwe_thickness"].name)

lwe_thickness

In [14]:
print(READ_CDF.variables["time_bounds"])

<class 'netCDF4._netCDF4.Variable'>
float32 time_bounds(time, timebound)
unlimited dimensions:
current shape = (216, 2)
filling on, default _FillValue of 9.969209968386869e+36 used

In [15]:
print(READ_CDF.variables["time_bounds"].datatype)

float32

In [16]:
print(READ_CDF.variables["time_bounds"].name)

time_bounds

In [17]:
print(READ_CDF.variables["time_bounds"].ndim)

2

In [18]:
print(READ_CDF.variables["time_bounds"].shape)

(216, 2)

In [19]:
LWE_THICKNESS_GENERAL = READ_CDF.variables["lwe_thickness"][:,0,0]
LAT_DATA = READ_CDF.variables["lat"][0]
LON_DATA = READ_CDF.variables["lon"][0]
TIME_DATA = READ_CDF.variables["time"][:]

In [20]:
TIME_DATA

masked_array(data=[ 107. ,  129.5,  227.5,  258. ,  288.5,  319. ,  349.5,
                    380.5,  410. ,  439.5,  470. ,  495.5,  561.5,  592.5,
                    623. ,  653.5,  684. ,  714.5,  736.5,  777. ,  805.5,
                    836. ,  866.5,  897. ,  927.5,  958.5,  989. , 1019.5,
                   1050. , 1080.5, 1111.5, 1141. , 1170.5, 1201. , 1231.5,
                   1262. , 1292.5, 1323.5, 1354. , 1384.5, 1415. , 1445.5,
                   1476.5, 1506. , 1535.5, 1566. , 1596.5, 1627. , 1657.5,
                   1688.5, 1719. , 1749.5, 1780. , 1810.5, 1841.5, 1870.5,
                   1900.5, 1931. , 1961.5, 1992. , 2022.5, 2053.5, 2084. ,
                   2114.5, 2145. , 2175.5, 2206.5, 2236.5, 2266.5, 2297. ,
                   2327.5, 2358. , 2388.5, 2419.5, 2450. , 2480.5, 2511. ,
                   2541.5, 2572.5, 2602. , 2631.5, 2662. , 2692.5, 2723. ,
                   2753.5, 2784.5, 2815. , 2845.5, 2876. , 2906.5, 2937.5,
                   2967. , 2996.5, 3027. , 3057.5, 3088. , 3118.5, 3149.5,
                   3180. , 3210.5, 3241. , 3269.5, 3335.5, 3361.5, 3392. ,
                   3422.5, 3485.5, 3514.5, 3545. , 3575.5, 3590.5, 3648. ,
                   3667.5, 3697.5, 3727.5, 3746. , 3819. , 3849.5, 3880.5,
                   3908.5, 3974.5, 4002.5, 4033.5, 4062. , 4128. , 4153.5,
                   4184. , 4214.5, 4306.5, 4337. , 4367.5, 4391. , 4458.5,
                   4488. , 4518.5, 4546. , 4610.5, 4641. , 4671.5, 4702. ,
                   4769.5, 4793. , 4822.5, 4853. , 4864. , 4943.5, 4975.5,
                   5004.5, 5104. , 5128.5, 5157. , 5188.5, 5253. , 5280. ,
                   5309.5, 5346.5, 5444.5, 5471.5, 5499. , 5568.5, 5592.5,
                   5611. , 5639.5, 6010. , 6034. , 6147.5, 6163. , 6193.5,
                   6224.5, 6254. , 6283.5, 6314. , 6344.5, 6375. , 6405.5,
                   6436.5, 6467. , 6497.5, 6528. , 6558.5, 6589.5, 6619.5,
                   6649.5, 6680. , 6710.5, 6741. , 6771.5, 6802.5, 6833. ,
                   6863.5, 6894. , 6924.5, 6955.5, 6985. , 7014.5, 7045. ,
                   7075.5, 7106. , 7136.5, 7167.5, 7198. , 7228.5, 7259. ,
                   7289.5, 7320.5, 7350. , 7379.5, 7410. , 7440.5, 7471. ,
                   7501.5, 7532.5, 7563. , 7593.5, 7624. , 7654.5],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [21]:
LWE_THICKNESS_GENERAL.sel(lat=slice(25,30), lon=slice(15, 45)).plot()

AttributeError: 'MaskedArray' object has no attribute 'sel'

In [79]:
print(len(LWE_THICKNESS_GENERAL))

216

In [82]:
Extracted =  pd.Series(LWE_THICKNESS_GENERAL,name="LWE_THICKNESS").astype(float)
TIME_SER = pd.Series(TIME_DATA,name="TIME").astype(float)

In [86]:
JOINED = pd.concat([Extracted, TIME_SER], axis = 1)

In [87]:
JOINED

     LWE_THICKNESS   TIME
0        -2.468668  122.0
1        -1.569404  137.0
2        -3.044039    NaN
3        -3.201635    NaN
4        -1.785586    NaN
..             ...    ...
211      10.281417    NaN
212      11.549488    NaN
213       9.222192    NaN
214      12.070022    NaN
215      14.730127    NaN

[216 rows x 2 columns]

In [91]:
JOINED.to_excel('JOINED.xlsx', index=True)

In [64]:
#LAT_TH = LWE_THICKNESS_GENERAL[:,0]
#LON_TH = LWE_THICKNESS_GENERAL[0,:]

#LAT_TH_SER = pd.Series(LAT_TH,name="LAT_THICKNESS").astype(float)
#LON_TH_SER = pd.Series(LON_TH,name="LON_THICKNESS").astype(float)

TIME_SER = pd.Series(TIME_DATA,name="TIME").astype(float)
LAT_SER = pd.Series(LAT_DATA,name="LAT").astype(float)
#LON_SER = pd.Series(LON_DATA,name="LON").astype(float)

MAIN_TARGET = pd.concat([TIME_SER,LAT_SER,LON_SER,LAT_TH_SER,LON_TH_SER],axis=1)

#MAIN_TARGET["TOTAL_THICKNESS"] = MAIN_TARGET["LAT_THICKNESS"] + MAIN_TARGET["LON_THICKNESS"]

In [85]:
MAIN_TARGET

       TIME     LAT    LON  LAT_THICKNESS  LON_THICKNESS
0     107.0 -89.875  0.125      -2.468668      -2.468668
1     129.5     NaN    NaN      -2.468668      -2.468668
2     227.5     NaN    NaN      -3.255136      -2.468668
3     258.0     NaN    NaN      -3.255136      -2.468668
4     288.5     NaN    NaN      -3.255136      -2.468668
...     ...     ...    ...            ...            ...
1435    NaN     NaN    NaN            NaN      -2.468668
1436    NaN     NaN    NaN            NaN      -2.468668
1437    NaN     NaN    NaN            NaN      -2.468668
1438    NaN     NaN    NaN            NaN      -2.468668
1439    NaN     NaN    NaN            NaN      -2.468668

[1440 rows x 5 columns]

In [53]:
MAIN_TARGET

       TIME     LAT      LON  LAT_THICKNESS  LON_THICKNESS
0     107.0 -89.875    0.125      -2.468668      -2.468668
1     129.5 -89.625    0.375      -2.468668      -2.468668
2     227.5 -89.375    0.625      -3.255136      -2.468668
3     258.0 -89.125    0.875      -3.255136      -2.468668
4     288.5 -88.875    1.125      -3.255136      -2.468668
...     ...     ...      ...            ...            ...
1435    NaN     NaN  358.875            NaN      -2.468668
1436    NaN     NaN  359.125            NaN      -2.468668
1437    NaN     NaN  359.375            NaN      -2.468668
1438    NaN     NaN  359.625            NaN      -2.468668
1439    NaN     NaN  359.875            NaN      -2.468668

[1440 rows x 5 columns]