In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import netCDF4 as nc
import datetime as dt
from netCDF4 import num2date

In [2]:
#FiRST OF ALL GETTING THE DATE COLUMN FROM THE NETCDF FILE AND THIS DATE AS THE COLUMN NAME IN EXTRACTED DATASETS

In [3]:
nc1 = nc.Dataset('Soil_upscaled.nc')#I used the soil netcdf as it matches every other dataset

In [4]:
times = nc1.variables['time']

In [5]:
units = nc1.variables['time'].units

In [6]:
dtimes = nc.num2date(times, units = units)

In [7]:
date_array = [dt.datetime(date.year, date.month, date.day) for date in dtimes]
#date_array

In [8]:
Surface_water = pd.read_csv('surface_runoff.csv')
Surface_water_subset = Surface_water.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Surface_water_subset.set_axis(date_array, axis ='columns', inplace=True)#Replacing column name with the dates
SWA = Surface_water_subset.multiply(1000)
SWA

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001297,0.000000,0.000649,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001622,0.000325,0.000973,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,0.016540,0.003244,0.010055,0.009730,0.012649,0.002920,0.009405,0.002920,0.002271,0.010055,...,0.014271,0.010055,0.028540,0.013947,0.032432,0.031459,0.014271,0.013622,0.007460,0.013297
6198,0.015568,0.003244,0.010055,0.010055,0.012649,0.003244,0.009405,0.002920,0.002595,0.010703,...,0.015244,0.010703,0.029190,0.014919,0.029838,0.086269,0.011352,0.012324,0.008433,0.013947
6199,0.014919,0.003244,0.010055,0.010379,0.012324,0.003244,0.009730,0.003244,0.002595,0.010703,...,0.014595,0.011676,0.029514,0.016540,0.027567,0.093728,0.009730,0.011676,0.008433,0.013947
6200,0.015244,0.003568,0.010379,0.011027,0.012000,0.003244,0.010379,0.003892,0.002920,0.010703,...,0.014271,0.012973,0.030162,0.018811,0.026919,0.051891,0.009405,0.011027,0.008433,0.014595
6201,0.016216,0.003892,0.011027,0.011676,0.011027,0.004217,0.010703,0.003892,0.003244,0.010703,...,0.012973,0.012649,0.029190,0.019784,0.027243,0.071675,0.009730,0.010055,0.008757,0.015244

In [9]:
Snow_water = pd.read_csv('Snow_water.csv')
Snow_water_subset = Snow_water.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Snow_water_subset.set_axis(date_array, axis ='columns', inplace=True)
SWE = Snow_water_subset.multiply(1000)
SWE

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,3.509521,8.850575,0.762939,1.068115,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.305176
6198,3.356934,9.308338,0.762939,1.220703,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.305176
6199,3.204346,10.071278,1.068115,1.373291,0.0,0.0,0.0,0.0,0.0,0.152588,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.305176
6200,3.204346,10.986805,1.220703,1.678467,0.0,0.0,0.0,0.0,0.0,0.152588,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.457764
6201,3.204346,12.207508,1.678467,1.831055,0.0,0.0,0.0,0.0,0.0,0.152588,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.457764

In [10]:
Soil_src = pd.read_csv('Soil_src.csv')
Soil_src_subset = Soil_src.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Soil_src_subset.set_axis(date_array, axis ='columns', inplace=True)
Src = Soil_src_subset.multiply(1000)
Src

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,0.000980,0.000102,0.000194,0.000000,0.000000,0.000000,0.000000,0.000000,0.000041,0.000031,...,0.000306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000061,0.001092,0.003930
1,0.001347,0.000286,0.000276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000051,0.000061,...,0.000408,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000235,0.001674,0.004553
2,0.001991,0.000745,0.000561,0.000000,0.000000,0.000000,0.000000,0.000000,0.000020,0.000112,...,0.000357,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000643,0.003318,0.005563
3,0.002205,0.000970,0.000684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000051,0.000174,...,0.000204,0.000000,0.000000,0.000000,0.000000,0.000000,0.000041,0.001072,0.004430,0.006839
4,0.001960,0.000674,0.000419,0.000010,0.000000,0.000000,0.000000,0.000000,0.000051,0.000082,...,0.000071,0.000000,0.000000,0.000000,0.000000,0.000000,0.000041,0.000725,0.003338,0.006441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,0.085224,0.004277,0.031695,0.054744,0.069219,0.041300,0.076303,0.031164,0.037452,0.098678,...,0.049507,0.079028,0.117419,0.086163,0.083959,0.103925,0.072679,0.062982,0.089695,0.110682
6198,0.077977,0.004430,0.029653,0.051825,0.069709,0.040504,0.076660,0.031654,0.034747,0.097902,...,0.047711,0.073588,0.118828,0.087735,0.083663,0.103741,0.067065,0.060134,0.083673,0.104037
6199,0.077650,0.006421,0.030164,0.051825,0.073067,0.041872,0.081049,0.032767,0.033369,0.102139,...,0.049507,0.074618,0.127045,0.090930,0.093666,0.108253,0.064993,0.061757,0.081233,0.100903
6200,0.073955,0.007533,0.030439,0.050610,0.074077,0.044067,0.084326,0.033461,0.032685,0.101220,...,0.047497,0.077548,0.126116,0.093472,0.101689,0.108365,0.063268,0.062675,0.076231,0.098096
6201,0.079079,0.016782,0.034808,0.052080,0.070056,0.046853,0.096187,0.037279,0.038340,0.112203,...,0.050641,0.084418,0.127688,0.096249,0.113592,0.117930,0.071515,0.067708,0.077109,0.102782

In [11]:
Soil_swl1 = pd.read_csv('Soil_swl1.csv')
Soil_swl1_subset = Soil_swl1.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Soil_swl1_subset.set_axis(date_array, axis ='columns', inplace=True)
Swl1 = Soil_swl1_subset.multiply(70) #Volume of water in soil layer 1 (0 - 7 cm) 
Swl1

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,0.002384,0.148531,0.172359,0.051628,0.006354,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.689433,0.139794,0.348690,0.000000,0.000000,0.000000,0.000000,0.013504,0.016681,0.000000
1,0.002384,0.225577,0.269261,0.069104,0.000795,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.796662,0.116760,0.363781,0.000000,0.000000,0.000000,0.000000,0.033360,0.010327,0.000000
2,0.004767,0.089755,0.084988,0.026213,0.012709,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.922157,0.239873,0.393963,0.000000,0.000000,0.000000,0.000000,0.030183,0.019858,0.000000
3,0.045274,0.059572,0.154090,0.136617,0.137411,0.001590,0.000000,0.000000,0.000000,0.000000,...,1.255753,0.411437,0.486894,0.007149,0.000000,0.000000,0.000000,0.011916,0.030977,0.001590
4,0.033360,0.034949,0.115171,0.095315,0.124702,0.000795,0.000000,0.000000,0.000000,0.000000,...,1.900707,0.465448,0.576647,0.171564,0.000000,0.000000,0.000000,0.021446,0.007944,0.001590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,19.041218,17.012632,17.149247,15.321615,13.714792,7.470976,11.658407,8.810127,9.023788,15.985630,...,16.165138,15.113514,16.635350,13.123849,15.485236,17.492375,16.445518,16.424867,16.814857,17.639318
6198,19.007063,17.034077,17.225499,15.403425,13.860144,7.679077,11.453483,8.922915,9.089714,16.161960,...,16.376416,15.061886,16.789441,13.110347,15.627412,17.851389,16.128602,16.138927,16.982449,17.661556
6199,18.964966,17.076175,17.295396,15.478882,13.812487,7.684636,11.445541,9.285106,9.343088,16.188966,...,16.471729,15.159582,17.042815,13.428852,15.845044,18.061078,15.907792,15.914940,16.949884,17.644875
6200,19.007857,17.142894,17.405800,15.556721,13.603593,7.658426,11.501140,9.478909,9.629822,16.236623,...,16.564660,15.234245,17.196905,13.735442,16.091270,18.317629,15.898261,15.881581,16.937175,17.686179
6201,19.103965,17.183402,17.497936,15.605172,13.323213,8.235070,11.811702,9.379625,10.034904,16.266806,...,16.552746,15.059504,17.044403,13.783100,16.338290,18.575771,15.962597,15.766410,16.914142,17.702859

In [12]:
Soil_swl2 = pd.read_csv('Soil_swl2.csv')
Soil_swl2_subset = Soil_swl2.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Soil_swl2_subset.set_axis(date_array, axis ='columns', inplace=True)
Swl2 = Soil_swl2_subset.multiply(210) #Volume of water in soil layer 2 (7 -28 cm) of the ECMWF Integrated Forecasting System.
Swl2

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,0.040655,0.045437,0.045437,0.040655,0.007178,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.002391,0.014351,0.004781,0.014351,0.002391,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.021523,0.031092,0.007178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.002391,0.000000,0.002391,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.306103,0.420896,0.332413,0.105224,0.002391,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,55.701387,50.700888,52.104664,45.260365,40.460748,19.612186,23.926342,23.617849,18.093625,42.412163,...,48.938398,44.621854,48.799695,38.341932,47.666153,51.458975,48.885787,49.464513,50.574140,52.932096
6198,55.548335,50.681757,52.281629,45.532990,40.919905,20.186132,22.474742,24.500290,18.880405,43.170250,...,49.670179,44.727075,49.263633,38.992405,48.235316,52.642737,48.110960,48.517505,51.179178,53.034933
6199,55.361800,50.825244,52.506422,45.843876,40.542058,20.181351,21.876882,25.839493,21.178578,43.363956,...,49.954760,45.076227,49.940411,40.355526,48.711211,53.324292,47.592019,47.716372,51.100258,52.982324
6200,55.402452,50.925685,52.822094,46.231290,39.913110,20.042644,21.733393,26.858246,23.491102,43.665279,...,50.256083,45.396679,50.509572,41.740167,49.266027,54.314354,47.809640,47.618323,51.143303,53.130592
6201,55.526814,50.925685,52.958409,46.408257,39.042627,20.176569,22.049066,26.542578,24.543335,43.868546,...,50.143682,44.774904,50.248905,42.175411,49.486038,55.285278,48.048781,47.195039,51.066777,53.192765

In [13]:
Soil_swl3 = pd.read_csv('Soil_swl3.csv')
Soil_swl3_subset = Soil_swl3.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Soil_swl3_subset.set_axis(date_array, axis ='columns', inplace=True)
Swl3 = Soil_swl3_subset.multiply(720)#Volume of water in soil layer 3 (28-100 cm) of the ECMWF Integrated Forecasting System.
Swl3

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,40.329480,40.042526,39.911357,39.575200,38.656940,37.468121,36.221924,35.041301,33.975477,33.147403,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.073793,0.065596,0.065596,0.057399,0.032809,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3.828800,3.779619,3.714023,3.648426,3.476250,3.222105,2.926955,2.639980,2.385836,2.172654,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,53.873755,53.644202,53.308044,53.045683,52.381591,51.159982,49.503838,47.929680,46.511309,45.363492,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,36.476090,36.238318,35.918577,35.623426,34.967530,33.926275,32.466917,31.064937,29.826936,28.867673,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,182.175444,182.577168,180.215950,166.040381,138.976416,105.730632,82.987394,71.222242,65.884882,79.420961,...,169.639610,162.883872,158.317186,149.634742,144.026827,158.948489,160.399656,161.055554,170.074145,176.026406
6198,181.486757,181.986876,180.297936,167.204585,140.542366,107.452361,83.897460,72.222490,66.893328,81.593611,...,172.902701,165.384482,160.645622,152.414114,145.027073,162.014803,164.310451,159.686366,170.771033,177.321802
6199,179.141918,180.347141,179.724031,168.622970,141.747581,107.649130,83.692476,72.919371,67.655804,81.864173,...,174.796603,165.933792,162.760882,155.709994,147.970411,163.761134,166.720867,158.628737,169.713396,177.059448
6200,178.420435,179.863402,180.043776,170.344699,142.969183,107.599939,83.471119,73.804846,68.697036,82.954609,...,177.305407,166.630680,164.941747,158.948489,151.987781,167.934276,170.648050,160.145496,170.082338,178.010496
6201,177.879312,180.084780,180.420912,170.853026,142.846214,106.706275,82.848010,73.075154,67.754189,82.306908,...,178.510622,164.925353,162.957665,157.292345,151.504049,170.295509,171.795874,159.546989,168.368803,177.821928

In [14]:
Soil_swl4 = pd.read_csv('Soil_swl4.csv')
Soil_swl4_subset = Soil_swl4.iloc[:, 2:146]#Subsetting from column 2-145(variables excluding lat-lon values)
Soil_swl4_subset.set_axis(date_array, axis ='columns', inplace=True)
Swl4 = Soil_swl4_subset.multiply(1890)#Volume of water in soil layer 4 (100-289 cm) of the ECMWF Integrated Forecasting System.
Swl4

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,82.244019,82.179020,82.179020,82.114017,81.897385,81.572381,81.182380,80.814062,80.489114,80.229113,...,27.234148,27.169147,26.930829,26.389195,25.565872,24.742549,24.049228,23.550908,23.182591,22.922587
1,7.604795,7.409793,7.388107,7.258106,6.738157,6.304838,5.893149,5.568145,5.329828,5.113197,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,27.190833,26.995830,26.844143,26.584141,25.890876,25.024237,24.244230,23.594280,23.009274,22.554270,...,0.281688,0.281688,0.281688,0.281688,0.260003,0.238317,0.238317,0.216688,0.216688,0.216688
3,94.940270,94.918641,94.918641,94.918641,94.896957,94.853638,94.810325,94.745322,94.701952,94.658637,...,34.990572,34.990572,34.925573,34.297252,32.997295,31.740652,30.657384,29.812374,29.184054,28.794107
4,108.503214,108.459842,108.416527,108.373212,108.221525,107.918206,107.528205,107.138256,106.813255,106.553248,...,27.147461,27.147461,27.147461,26.952458,25.847504,24.655863,23.724282,23.052589,22.489269,22.077635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,429.961184,448.810589,456.566979,458.451913,450.522173,435.486013,418.261536,402.358755,389.987476,381.992738,...,435.832639,436.569304,433.037764,429.116203,421.619782,418.174879,418.976523,418.911526,423.526377,430.264510
6198,430.242851,448.095602,455.852011,458.300260,450.912174,436.439310,419.409843,403.658697,391.482428,383.531009,...,441.595797,443.459073,439.949210,436.265960,428.617885,424.631365,426.472943,425.541306,428.466213,435.312662
6199,423.266407,440.187521,448.940564,452.905425,446.492296,432.691100,416.181610,401.102113,389.489159,381.841066,...,445.842325,447.510609,443.849074,440.512506,433.081083,428.834536,431.239486,429.896187,431.109491,436.872631
6200,420.406478,437.305951,446.708966,451.930468,446.232326,432.712760,416.311623,401.600430,390.312443,382.794363,...,454.877054,455.678679,451.583824,448.268915,441.010823,437.154297,441.465822,439.949210,439.797519,444.087384
6201,414.188359,432.539446,443.459073,449.807205,444.390710,430.827825,414.491685,399.650498,388.254195,380.757775,...,461.203527,460.315189,455.072026,450.305522,442.527435,438.757565,444.174041,442.462419,441.379128,444.759034

In [15]:
Total_soil = Src.add(Swl1, fill_value=0).add(Swl2,fill_value=0).add(Swl3, fill_value=0).add(Swl4,fill_value=0)

In [16]:
Total_soil

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,122.617519,122.415616,122.308366,121.781501,120.567859,119.040502,117.404304,115.855363,114.464633,113.376547,...,27.923887,27.308941,27.279519,26.389195,25.565872,24.742549,24.049228,23.564473,23.200364,22.926517
1,7.682320,7.701252,7.723240,7.384609,6.771761,6.304838,5.893149,5.568145,5.329879,5.113258,...,0.797070,0.116760,0.363781,0.000000,0.000000,0.000000,0.000000,0.033595,0.012001,0.004553
2,31.026390,30.865949,30.643715,30.258780,29.379835,28.246342,27.171185,26.234260,25.395130,24.727036,...,1.204202,0.521561,0.675652,0.281688,0.260003,0.238317,0.238317,0.247513,0.239863,0.222251
3,148.863895,148.637735,148.386240,148.115291,147.418350,146.015209,144.314162,142.675002,141.213312,140.022303,...,36.268052,35.433101,35.419645,34.304401,32.997295,31.740652,30.657425,29.825362,29.219462,28.802535
4,145.014624,144.736174,144.450693,144.094354,143.313757,141.845276,139.995122,138.203193,136.640243,135.421003,...,29.354342,28.033805,28.056521,27.229246,25.849895,24.655863,23.724323,23.074759,22.500551,22.085666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,686.964457,699.105554,706.068535,685.129019,643.743348,568.341107,536.909983,506.040137,483.027223,519.910171,...,670.625293,659.267573,656.907414,630.302889,628.881957,646.178643,644.780163,645.919442,661.079215,676.973013
6198,686.362982,697.802742,705.686728,686.493084,646.304298,571.797385,537.312188,509.336045,486.380622,524.554734,...,680.592804,668.706103,666.766735,640.870561,637.591348,657.244035,655.090021,649.944238,667.482546,683.434991
6199,676.812742,688.442500,698.496577,682.902977,642.667489,568.248089,533.277559,509.178849,487.699998,523.360299,...,687.114925,673.754829,673.720227,650.097808,645.701415,664.089294,661.525156,652.217992,668.954262,684.660181
6200,673.311178,685.245464,697.011074,684.113789,642.792290,568.057835,533.101602,511.775892,492.163088,525.752094,...,699.050701,683.017830,684.358164,662.786485,658.457590,677.828922,675.885040,663.657286,678.036568,693.012748
6201,666.777529,680.750095,694.371138,682.725740,639.672820,565.992593,531.296650,508.685134,490.624963,523.312238,...,706.461218,685.159368,685.450688,663.652627,659.969403,683.032054,680.052808,665.038565,677.805959,693.579367

In [17]:
Total_Soil_Snow_Surface = Total_soil.add(SWE, fill_value=0).add(SWA,fill_value=0)

In [18]:
Total_Soil_Snow_Surface

,2003-01-01,2003-02-01,2003-03-01,2003-04-01,2003-05-01,2003-06-01,2003-07-01,2003-08-01,2003-09-01,2003-10-01,...,2014-03-01,2014-04-01,2014-05-01,2014-06-01,2014-07-01,2014-08-01,2014-09-01,2014-10-01,2014-11-01,2014-12-01
0,122.617519,122.415616,122.308366,121.781501,120.567859,119.040502,117.404304,115.855363,114.464633,113.376547,...,27.924536,27.308941,27.279844,26.389195,25.565872,24.742549,24.049228,23.564473,23.200364,22.926517
1,7.682320,7.701252,7.723240,7.384609,6.771761,6.304838,5.893149,5.568145,5.329879,5.113258,...,0.797719,0.116760,0.364106,0.000000,0.000000,0.000000,0.000000,0.033595,0.012001,0.004553
2,31.026390,30.865949,30.643715,30.258780,29.379835,28.246342,27.171185,26.234260,25.395130,24.727036,...,1.204852,0.521561,0.675977,0.281688,0.260003,0.238317,0.238317,0.247513,0.239863,0.222251
3,148.863895,148.637735,148.386240,148.115291,147.418350,146.015209,144.314162,142.675002,141.213312,140.022303,...,36.269349,35.433101,35.420294,34.304401,32.997295,31.740652,30.657425,29.825362,29.219462,28.802535
4,145.014624,144.736174,144.450693,144.094354,143.313757,141.845276,139.995122,138.203193,136.640243,135.421003,...,29.355964,28.034130,28.057494,27.229246,25.849895,24.655863,23.724323,23.074759,22.500551,22.085666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,690.490519,707.959372,706.841529,686.206865,643.755997,568.344027,536.919388,506.043057,483.029494,519.920225,...,670.639563,659.277628,656.935955,630.316836,628.914390,646.210103,644.794433,645.933064,661.086675,677.291486
6198,689.735484,707.114324,706.459722,687.723842,646.316947,571.800629,537.321594,509.338965,486.383217,524.565436,...,680.608048,668.716806,666.795924,640.885480,637.621186,657.330305,655.101373,649.956562,667.490979,683.754113
6199,680.032006,698.517022,699.574746,684.286647,642.679814,568.251333,533.287289,509.182093,487.702592,523.523590,...,687.129520,673.766505,673.749740,650.114348,645.728983,664.183022,661.534886,652.229668,668.962695,684.979304
6200,676.530767,696.235837,698.242156,685.803282,642.804290,568.061079,533.111980,511.779784,492.166008,525.915385,...,699.064971,683.030804,684.388326,662.805296,658.484509,677.880813,675.894445,663.668313,678.045001,693.485106
6201,669.998091,692.961494,696.060631,684.568471,639.683847,565.996810,531.307353,508.689026,490.628207,523.475529,...,706.474191,685.172017,685.479877,663.672411,659.996646,683.103728,680.062538,665.048619,677.814717,694.052374

In [19]:
lat_lon_values = Surface_water_subset = Surface_water.iloc[:, 0:2]

In [20]:
lat_lon_values

         lat     lon
0     27.875  31.375
1     27.875  31.625
2     27.875  31.875
3     27.875  32.125
4     27.875  32.375
...      ...     ...
6197  51.125  18.875
6198  51.125  19.125
6199  51.125  19.375
6200  51.125  19.625
6201  51.125  19.875

[6202 rows x 2 columns]

In [21]:
Total_Soil_Snow_Surface = pd.concat([lat_lon_values.iloc[:, 0:2], Total_Soil_Snow_Surface], axis=1)

In [22]:
Total_Soil_Snow_Surface.columns =  Total_Soil_Snow_Surface.columns.astype(str)#CONVERTED THE COLUMS TO STRING FROM DATE FORMAT, ELSE THIS WOULD NOT HAVE WORKED.

In [23]:
Total_Soil_Snow_Surface

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,122.617519,122.415616,122.308366,121.781501,120.567859,119.040502,117.404304,115.855363,...,27.924536,27.308941,27.279844,26.389195,25.565872,24.742549,24.049228,23.564473,23.200364,22.926517
1,27.875,31.625,7.682320,7.701252,7.723240,7.384609,6.771761,6.304838,5.893149,5.568145,...,0.797719,0.116760,0.364106,0.000000,0.000000,0.000000,0.000000,0.033595,0.012001,0.004553
2,27.875,31.875,31.026390,30.865949,30.643715,30.258780,29.379835,28.246342,27.171185,26.234260,...,1.204852,0.521561,0.675977,0.281688,0.260003,0.238317,0.238317,0.247513,0.239863,0.222251
3,27.875,32.125,148.863895,148.637735,148.386240,148.115291,147.418350,146.015209,144.314162,142.675002,...,36.269349,35.433101,35.420294,34.304401,32.997295,31.740652,30.657425,29.825362,29.219462,28.802535
4,27.875,32.375,145.014624,144.736174,144.450693,144.094354,143.313757,141.845276,139.995122,138.203193,...,29.355964,28.034130,28.057494,27.229246,25.849895,24.655863,23.724323,23.074759,22.500551,22.085666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,690.490519,707.959372,706.841529,686.206865,643.755997,568.344027,536.919388,506.043057,...,670.639563,659.277628,656.935955,630.316836,628.914390,646.210103,644.794433,645.933064,661.086675,677.291486
6198,51.125,19.125,689.735484,707.114324,706.459722,687.723842,646.316947,571.800629,537.321594,509.338965,...,680.608048,668.716806,666.795924,640.885480,637.621186,657.330305,655.101373,649.956562,667.490979,683.754113
6199,51.125,19.375,680.032006,698.517022,699.574746,684.286647,642.679814,568.251333,533.287289,509.182093,...,687.129520,673.766505,673.749740,650.114348,645.728983,664.183022,661.534886,652.229668,668.962695,684.979304
6200,51.125,19.625,676.530767,696.235837,698.242156,685.803282,642.804290,568.061079,533.111980,511.779784,...,699.064971,683.030804,684.388326,662.805296,658.484509,677.880813,675.894445,663.668313,678.045001,693.485106
6201,51.125,19.875,669.998091,692.961494,696.060631,684.568471,639.683847,565.996810,531.307353,508.689026,...,706.474191,685.172017,685.479877,663.672411,659.996646,683.103728,680.062538,665.048619,677.814717,694.052374

In [24]:
#=================HYDROLOGICAL BALANCING PROPER ΔTWS=ΔSM+ΔSWE+ΔSWA+ΔGWS =================================================

In [25]:
TWS= pd.read_csv('lwe_thickness_retimed.csv')
TWS

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,2.347639,0.349183,1.131222,-0.156619,0.362504,0.811326,1.260148,1.554351,...,-0.757668,-2.803421,-1.701237,-3.678688,-4.358832,-5.038976,-3.418078,-2.909360,-4.812576,-4.330404
1,27.875,31.625,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
2,27.875,31.875,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
3,27.875,32.125,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
4,27.875,32.375,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6198,51.125,19.125,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6199,51.125,19.375,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6200,51.125,19.625,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6201,51.125,19.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691

In [26]:
TWS_mm = TWS.multiply(10)
TWS_mm

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,278.75,313.75,23.476390,3.491833,11.312218,-1.566187,3.625043,8.113261,12.601479,15.543511,...,-7.576679,-28.034213,-17.012373,-36.786876,-43.588316,-50.389757,-34.180777,-29.093600,-48.125763,-43.304044
1,278.75,316.25,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
2,278.75,318.75,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
3,278.75,321.25,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
4,278.75,323.75,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,511.25,188.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6198,511.25,191.25,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6199,511.25,193.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6200,511.25,196.25,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6201,511.25,198.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907

In [27]:
GWS = TWS_mm.subtract(Total_Soil_Snow_Surface, fill_value=0)

In [28]:
GWS = GWS.drop(columns=['lat', 'lon']) #I dropped the latitude and longitude values because the substraction affected the values
GWS

,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,2003-09-01 00:00:00,2003-10-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,-99.141129,-118.923783,-110.996148,-123.347688,-116.942816,-110.927241,-104.802825,-100.311852,-103.538663,-106.971447,...,-35.501215,-55.343154,-44.292217,-63.176071,-69.154189,-75.132306,-58.230005,-52.658073,-71.326127,-66.230561
1,15.799025,5.510146,8.791319,-7.048442,-5.545090,1.100949,7.691756,10.359221,3.057404,2.628354,...,-9.352398,-31.989290,-27.025521,-44.498596,-50.247253,-55.995910,-35.309450,-37.737040,-52.956327,-41.356999
2,-7.545045,-17.654551,-14.129156,-29.922613,-28.153165,-20.840555,-13.586280,-10.306894,-17.007847,-16.985424,...,-9.759531,-32.394091,-27.337392,-44.780284,-50.507256,-56.234227,-35.547767,-37.950958,-53.184189,-41.574697
3,-125.382550,-135.426337,-131.871681,-147.779124,-146.191680,-138.609422,-130.729257,-126.747636,-132.826029,-132.280691,...,-44.824028,-67.305631,-62.081709,-78.802997,-83.244548,-87.736562,-65.966875,-67.528807,-82.163788,-70.154981
4,-121.533279,-131.524776,-127.936134,-143.758187,-142.087087,-134.439488,-126.410217,-122.275827,-128.252960,-127.679391,...,-37.910643,-59.906660,-54.718909,-71.727842,-76.097148,-80.651773,-59.033773,-60.778204,-75.444877,-63.438112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,-627.734839,-631.822832,-617.723889,-631.825385,-609.873697,-569.525123,-573.163881,-568.866024,-564.386014,-583.686135,...,-616.908460,-615.803688,-634.431318,-625.550941,-648.811839,-690.770898,-682.843373,-702.674907,-723.848811,-711.998393
6198,-626.979804,-630.977784,-617.342082,-633.342362,-612.434647,-572.981725,-573.566087,-572.161932,-567.739737,-588.331346,...,-626.876945,-625.242866,-644.291287,-636.119585,-657.518636,-701.891100,-693.150313,-706.698405,-730.253115,-718.461019
6199,-617.276326,-622.380482,-610.457106,-629.905167,-608.797514,-569.432429,-569.531782,-572.005060,-569.059112,-587.289500,...,-633.398417,-630.292565,-651.245103,-645.348453,-665.626432,-708.743817,-699.583826,-708.971511,-731.724831,-719.686210
6200,-613.775087,-620.099297,-609.124516,-631.421802,-608.921990,-569.242175,-569.356473,-574.602751,-573.522528,-589.681295,...,-645.333868,-639.556864,-661.883689,-658.039400,-678.381959,-722.441608,-713.943385,-720.410156,-740.807137,-728.192013
6201,-607.242411,-616.824954,-606.942991,-630.186991,-605.801547,-567.177906,-567.551846,-571.511993,-571.984727,-587.241439,...,-652.743088,-641.698077,-662.975240,-658.906515,-679.894096,-727.664523,-718.111478,-721.790462,-740.576853,-728.759281

In [29]:
GWS = pd.concat([lat_lon_values, GWS], axis=1) #Added fresh Lat-Long values to the GWS Series

In [30]:
GWS

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,-99.141129,-118.923783,-110.996148,-123.347688,-116.942816,-110.927241,-104.802825,-100.311852,...,-35.501215,-55.343154,-44.292217,-63.176071,-69.154189,-75.132306,-58.230005,-52.658073,-71.326127,-66.230561
1,27.875,31.625,15.799025,5.510146,8.791319,-7.048442,-5.545090,1.100949,7.691756,10.359221,...,-9.352398,-31.989290,-27.025521,-44.498596,-50.247253,-55.995910,-35.309450,-37.737040,-52.956327,-41.356999
2,27.875,31.875,-7.545045,-17.654551,-14.129156,-29.922613,-28.153165,-20.840555,-13.586280,-10.306894,...,-9.759531,-32.394091,-27.337392,-44.780284,-50.507256,-56.234227,-35.547767,-37.950958,-53.184189,-41.574697
3,27.875,32.125,-125.382550,-135.426337,-131.871681,-147.779124,-146.191680,-138.609422,-130.729257,-126.747636,...,-44.824028,-67.305631,-62.081709,-78.802997,-83.244548,-87.736562,-65.966875,-67.528807,-82.163788,-70.154981
4,27.875,32.375,-121.533279,-131.524776,-127.936134,-143.758187,-142.087087,-134.439488,-126.410217,-122.275827,...,-37.910643,-59.906660,-54.718909,-71.727842,-76.097148,-80.651773,-59.033773,-60.778204,-75.444877,-63.438112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,-627.734839,-631.822832,-617.723889,-631.825385,-609.873697,-569.525123,-573.163881,-568.866024,...,-616.908460,-615.803688,-634.431318,-625.550941,-648.811839,-690.770898,-682.843373,-702.674907,-723.848811,-711.998393
6198,51.125,19.125,-626.979804,-630.977784,-617.342082,-633.342362,-612.434647,-572.981725,-573.566087,-572.161932,...,-626.876945,-625.242866,-644.291287,-636.119585,-657.518636,-701.891100,-693.150313,-706.698405,-730.253115,-718.461019
6199,51.125,19.375,-617.276326,-622.380482,-610.457106,-629.905167,-608.797514,-569.432429,-569.531782,-572.005060,...,-633.398417,-630.292565,-651.245103,-645.348453,-665.626432,-708.743817,-699.583826,-708.971511,-731.724831,-719.686210
6200,51.125,19.625,-613.775087,-620.099297,-609.124516,-631.421802,-608.921990,-569.242175,-569.356473,-574.602751,...,-645.333868,-639.556864,-661.883689,-658.039400,-678.381959,-722.441608,-713.943385,-720.410156,-740.807137,-728.192013
6201,51.125,19.875,-607.242411,-616.824954,-606.942991,-630.186991,-605.801547,-567.177906,-567.551846,-571.511993,...,-652.743088,-641.698077,-662.975240,-658.906515,-679.894096,-727.664523,-718.111478,-721.790462,-740.576853,-728.759281

In [31]:
GWS.to_csv('GWS.csv', index=False)

In [32]:
#=================HYDROLOGICAL BALANCING ΔTWS=ΔSWE+ΔSWA+ΔGWS (No soil moisture)==============================================

In [33]:
TWS= pd.read_csv('lwe_thickness_retimed.csv')
TWS

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,2.347639,0.349183,1.131222,-0.156619,0.362504,0.811326,1.260148,1.554351,...,-0.757668,-2.803421,-1.701237,-3.678688,-4.358832,-5.038976,-3.418078,-2.909360,-4.812576,-4.330404
1,27.875,31.625,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
2,27.875,31.875,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
3,27.875,32.125,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
4,27.875,32.375,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6198,51.125,19.125,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6199,51.125,19.375,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6200,51.125,19.625,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6201,51.125,19.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691

In [34]:
TWS_mm = TWS.multiply(10) #converting from centimeter to millimeter
TWS_mm

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,278.75,313.75,23.476390,3.491833,11.312218,-1.566187,3.625043,8.113261,12.601479,15.543511,...,-7.576679,-28.034213,-17.012373,-36.786876,-43.588316,-50.389757,-34.180777,-29.093600,-48.125763,-43.304044
1,278.75,316.25,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
2,278.75,318.75,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
3,278.75,321.25,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
4,278.75,323.75,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.554679,-31.872530,-26.661415,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,511.25,188.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6198,511.25,191.25,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6199,511.25,193.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6200,511.25,196.25,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907
6201,511.25,198.75,62.755680,76.136540,89.117640,54.381480,33.882300,-1.181096,-36.244493,-62.822967,...,53.731103,43.473940,22.504637,4.765895,-19.897450,-44.560795,-38.048940,-56.741843,-62.762136,-34.706907

In [35]:
SWE_SWA = SWE.add(SWA,fill_value=0)
SWE_SWA = pd.concat([lat_lon_values.iloc[:, 0:2], SWE_SWA], axis=1)
SWE_SWA.columns =SWE_SWA.columns.astype(str)#CONVERTED THE COLUMS TO STRING FROM DATE FORMAT, ELSE THIS WOULD NOT HAVE WORKED.
SWE_SWA

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,27.875,31.625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,27.875,31.875,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000649,0.000000,0.000325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,27.875,32.125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001297,0.000000,0.000649,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,27.875,32.375,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001622,0.000325,0.000973,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,3.526062,8.853818,0.772994,1.077846,0.012649,0.002920,0.009405,0.002920,...,0.014271,0.010055,0.028540,0.013947,0.032432,0.031459,0.014271,0.013622,0.007460,0.318473
6198,51.125,19.125,3.372502,9.311582,0.772994,1.230758,0.012649,0.003244,0.009405,0.002920,...,0.015244,0.010703,0.029190,0.014919,0.029838,0.086269,0.011352,0.012324,0.008433,0.319122
6199,51.125,19.375,3.219265,10.074522,1.078170,1.383670,0.012324,0.003244,0.009730,0.003244,...,0.014595,0.011676,0.029514,0.016540,0.027567,0.093728,0.009730,0.011676,0.008433,0.319122
6200,51.125,19.625,3.219590,10.990373,1.231082,1.689494,0.012000,0.003244,0.010379,0.003892,...,0.014271,0.012973,0.030162,0.018811,0.026919,0.051891,0.009405,0.011027,0.008433,0.472358
6201,51.125,19.875,3.220562,12.211400,1.689494,1.842731,0.011027,0.004217,0.010703,0.003892,...,0.012973,0.012649,0.029190,0.019784,0.027243,0.071675,0.009730,0.010055,0.008757,0.473008

In [36]:
GWS_no_soil = TWS_mm.subtract(SWE_SWA, fill_value=0)
GWS_no_soil

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,250.875,282.375,23.476390,3.491833,11.312218,-1.566187,3.625043,8.113261,12.601479,15.543511,...,-7.577328,-28.034213,-17.012698,-36.786876,-43.588316,-50.389757,-34.180777,-29.093600,-48.125763,-43.304044
1,250.875,284.625,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555328,-31.872530,-26.661740,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
2,250.875,286.875,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555328,-31.872530,-26.661740,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
3,250.875,289.125,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555976,-31.872530,-26.662064,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
4,250.875,291.375,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.556301,-31.872855,-26.662388,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,460.125,169.875,59.229618,67.282722,88.344646,53.303634,33.869651,-1.184016,-36.253898,-62.825887,...,53.716832,43.463885,22.476097,4.751949,-19.929882,-44.592254,-38.063211,-56.755465,-62.769596,-35.025380
6198,460.125,172.125,59.383178,66.824958,88.344646,53.150722,33.869651,-1.184340,-36.253898,-62.825887,...,53.715859,43.463237,22.475447,4.750976,-19.927288,-44.647064,-38.060292,-56.754167,-62.770569,-35.026029
6199,460.125,174.375,59.536415,66.062018,88.039470,52.997810,33.869976,-1.184340,-36.254223,-62.826211,...,53.716508,43.462264,22.475123,4.749355,-19.925017,-44.654523,-38.058670,-56.753519,-62.770569,-35.026029
6200,460.125,176.625,59.536090,65.146167,87.886558,52.691986,33.870300,-1.184340,-36.254872,-62.826859,...,53.716832,43.460967,22.474475,4.747084,-19.924369,-44.612686,-38.058345,-56.752870,-62.770569,-35.179265
6201,460.125,178.875,59.535118,63.925140,87.428146,52.538749,33.871273,-1.185314,-36.255196,-62.826859,...,53.718130,43.461291,22.475447,4.746111,-19.924693,-44.632470,-38.058670,-56.751898,-62.770893,-35.179914

In [37]:
GWS_no_soil = GWS_no_soil.drop(columns=['lat', 'lon']) #I dropped the latitude and longitude values because the substraction affected the values

In [38]:
GWS_no_soil = pd.concat([lat_lon_values, GWS_no_soil], axis=1) #Added fresh Lat-Long values to the GWS Series

In [39]:
GWS_no_soil

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,23.476390,3.491833,11.312218,-1.566187,3.625043,8.113261,12.601479,15.543511,...,-7.577328,-28.034213,-17.012698,-36.786876,-43.588316,-50.389757,-34.180777,-29.093600,-48.125763,-43.304044
1,27.875,31.625,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555328,-31.872530,-26.661740,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
2,27.875,31.875,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555328,-31.872530,-26.661740,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
3,27.875,32.125,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.555976,-31.872530,-26.662064,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
4,27.875,32.375,23.481345,13.211398,16.514559,0.336167,1.226670,7.405788,13.584905,15.927366,...,-8.556301,-31.872855,-26.662388,-44.498596,-50.247253,-55.995910,-35.309450,-37.703445,-52.944326,-41.352446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,59.229618,67.282722,88.344646,53.303634,33.869651,-1.184016,-36.253898,-62.825887,...,53.716832,43.463885,22.476097,4.751949,-19.929882,-44.592254,-38.063211,-56.755465,-62.769596,-35.025380
6198,51.125,19.125,59.383178,66.824958,88.344646,53.150722,33.869651,-1.184340,-36.253898,-62.825887,...,53.715859,43.463237,22.475447,4.750976,-19.927288,-44.647064,-38.060292,-56.754167,-62.770569,-35.026029
6199,51.125,19.375,59.536415,66.062018,88.039470,52.997810,33.869976,-1.184340,-36.254223,-62.826211,...,53.716508,43.462264,22.475123,4.749355,-19.925017,-44.654523,-38.058670,-56.753519,-62.770569,-35.026029
6200,51.125,19.625,59.536090,65.146167,87.886558,52.691986,33.870300,-1.184340,-36.254872,-62.826859,...,53.716832,43.460967,22.474475,4.747084,-19.924369,-44.612686,-38.058345,-56.752870,-62.770569,-35.179265
6201,51.125,19.875,59.535118,63.925140,87.428146,52.538749,33.871273,-1.185314,-36.255196,-62.826859,...,53.718130,43.461291,22.475447,4.746111,-19.924693,-44.632470,-38.058670,-56.751898,-62.770893,-35.179914

In [40]:
GWS_no_soil.to_csv('GWS_no_soil.csv', index=False)