In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
#RETIMING THE GRACE DATA ==================================================================================================

In [6]:
df = pd.read_csv('lwe_thickness_time_series.csv')
#df

In [7]:
# Extracting the lon-lat from the dataframe and droping the columns from the
lat_lon_df = df[['lat', 'lon']]
time_series_df = df.drop(columns=['lat', 'lon'])

In [8]:
#RETIMING THE DATA FRAME.

# Transpose the DataFrame
time_series_df = time_series_df.T

# Convert column names to datetime
time_series_df.index = pd.to_datetime(time_series_df.index)

# Custom function to calculate average for months with more than one reading
# or keep the first non-null value for months with only one reading
def custom_resampler(array_like):
    non_null_values = array_like.dropna()
    if len(non_null_values) > 1:
        return np.mean(non_null_values)
    elif len(non_null_values) == 1:
        return non_null_values.iloc[0]
    else:
        return np.nan

# Resample the DataFrame using the custom function
time_series_df = time_series_df.resample('MS').apply(custom_resampler)

# Transpose the DataFrame back
time_series_df = time_series_df.T

# Interpolate missing values
time_series_df.interpolate(method='linear', axis=1, limit_direction='both', inplace=True)

In [9]:
# Convert column names to datetime format
# time_series_df.columns = pd.to_datetime(time_series_df.columns)

In [10]:
# Transpose the DataFrame and resample to monthly time steps
# time_series_df = time_series_df.T.resample('MS').asfreq().T

# The .T method is used to transpose the DataFrame, making the rows into columns and vice versa.

# The resample method is then applied to the transposed DataFrame. The 'MS' argument specifies that the resampling should be done on a monthly frequency, 
# with each new data point representing the first day of the month.

# The asfreq method is then called to convert the resampled data to a fixed frequency, with any missing data points set to NaN.

# Finally, the .T method is applied again to transpose the DataFrame back to its original orientation.

In [11]:
# Perform linear interpolation for missing values
# time_series_df.interpolate(method='linear', axis=1, limit_direction='both', inplace=True)

# The interpolate method is called on the DataFrame to perform the linear interpolation. Here are the arguments being used:

# method='linear': specifies that a linear interpolation should be used.
# axis=1: specifies that the interpolation should be performed along the columns of the DataFrame.
# limit_direction='both': specifies that missing values at the beginning and end of each row should be filled in using the values available in that row.
# inplace=True: specifies that the interpolation should be performed in place, modifying the original DataFrame rather than creating a new one.

In [12]:
# Combine the lat/lon columns and the time series data
result_df = pd.concat([lat_lon_df, time_series_df], axis=1)

In [13]:
# Make sure column names are formatted as strings
result_df.columns = result_df.columns.astype(str)

In [14]:
result_df = result_df.drop(columns=['2015-01-01 00:00:00']) #Dropped the 145th column in the data
result_df

,lat,lon,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,...,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00
0,27.875,31.375,2.347639,0.349183,1.131222,-0.156619,0.362504,0.811326,1.260148,1.554351,...,-0.757668,-2.803421,-1.701237,-3.678688,-4.358832,-5.038976,-3.418078,-2.909360,-4.812576,-4.330404
1,27.875,31.625,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
2,27.875,31.875,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
3,27.875,32.125,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
4,27.875,32.375,2.348135,1.321140,1.651456,0.033617,0.122667,0.740579,1.358491,1.592737,...,-0.855468,-3.187253,-2.666142,-4.449860,-5.024725,-5.599591,-3.530945,-3.770345,-5.294433,-4.135245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6198,51.125,19.125,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6199,51.125,19.375,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6200,51.125,19.625,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691
6201,51.125,19.875,6.275568,7.613654,8.911764,5.438148,3.388230,-0.118110,-3.624449,-6.282297,...,5.373110,4.347394,2.250464,0.476590,-1.989745,-4.456080,-3.804894,-5.674184,-6.276214,-3.470691

In [15]:
# result_df

In [16]:
result_df.to_csv('lwe_thickness_retimed.csv', index=False)

In [47]:
#RETIMING THE RECHARGE DATA ===============================================================================================

In [48]:
Recharge = pd.read_csv('data.csv', header=None)
#Recharge

In [49]:
Recharge_dates = pd.read_csv('recharge_dates.csv', header=None)
#Recharge_dates

In [50]:
Recharge_values_nocoordinates = Recharge.drop(columns=[0, 1])#Dropping the first two colum
#Recharge_values_nocoordinates

In [51]:
Recharge_dates_arrays = np.array(Recharge_dates[0])
#Recharge_dates_arrays

In [52]:
Recharge_values_nocoordinates.set_axis(Recharge_dates_arrays, axis='columns', inplace=True)#Replacing column name with the dates

In [53]:
Recharge_values_nocoordinates

,2003-01-15 00:00:00,2003-02-15 00:00:00,2003-03-15 00:00:00,2003-04-15 00:00:00,2003-05-15 00:00:00,2003-06-15 00:00:00,2003-07-15 00:00:00,2003-08-15 00:00:00,2003-09-15 00:00:00,2003-10-15 00:00:00,...,2014-03-15 00:00:00,2014-04-15 00:00:00,2014-05-15 00:00:00,2014-06-15 00:00:00,2014-07-15 00:00:00,2014-08-15 00:00:00,2014-09-15 00:00:00,2014-10-15 00:00:00,2014-11-15 00:00:00,2014-12-15 00:00:00
0,0.117917,0.037445,0.031139,0.043059,0.032451,0.029778,0.037662,0.036935,0.027676,0.024210,...,0.125192,0.379790,0.405382,0.240707,0.180818,0.159148,0.116869,0.098342,0.080150,0.074325
1,0.176378,0.053420,0.045770,0.055883,0.042992,0.037316,0.042863,0.041273,0.031577,0.027701,...,0.216304,0.533836,0.491260,0.294883,0.219995,0.185947,0.137381,0.114908,0.092752,0.088661
2,0.343629,0.099991,0.114001,0.117078,0.086958,0.070166,0.067739,0.066843,0.052339,0.045215,...,0.621630,0.817113,0.678292,0.438936,0.320214,0.256335,0.193181,0.157218,0.123750,0.128051
3,0.455442,0.133010,0.208234,0.227642,0.158476,0.124347,0.115224,0.125963,0.096227,0.080396,...,1.280425,1.082211,0.958502,0.636234,0.460764,0.374898,0.286763,0.224327,0.171804,0.179135
4,0.595644,0.170978,0.339615,0.378077,0.250854,0.193142,0.188029,0.208003,0.152954,0.123294,...,2.297246,1.572195,1.392986,0.914512,0.657371,0.550678,0.423360,0.317829,0.237099,0.250603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,96.772988,17.815239,8.175088,4.063623,10.163427,5.627854,8.971266,23.774272,6.461862,8.783328,...,20.056500,7.658954,25.261906,30.419326,25.358789,23.206425,33.970875,17.328129,19.246850,23.034309
6198,95.641839,17.821400,7.917759,3.992385,11.383339,5.881222,8.833718,25.173555,6.818288,9.690379,...,21.692461,7.847368,26.451429,31.853587,22.400234,25.058814,29.865191,16.255366,17.473019,22.845805
6199,94.408325,17.906836,7.871176,4.053029,13.688114,6.546657,9.045713,27.414889,7.470983,11.236030,...,23.856447,8.444328,30.701040,36.200521,21.769083,29.648357,28.456392,16.046104,16.195221,22.800258
6200,93.194514,17.787481,7.588753,3.962250,12.570707,6.247813,8.479983,27.482020,7.537279,12.303648,...,23.832563,8.822248,34.465160,33.813831,21.105550,32.927236,27.205586,15.763117,15.480643,22.153199
6201,92.001383,17.500665,7.089419,3.788899,8.730490,5.506353,7.770480,24.997932,7.628648,13.029704,...,21.941510,9.029115,37.132975,27.102432,20.352763,33.277842,24.227950,14.918136,15.490322,20.843987

In [54]:
Recharge_values_nocoordinates.to_csv('recharge_no_coord.csv', index=False)

In [55]:
df = pd.read_csv('GWS.csv') #I used the lat/lon result of the GWS to join to Recharge
lat_lon_df = df[['lat', 'lon']]
lat_lon_df

         lat     lon
0     27.875  31.375
1     27.875  31.625
2     27.875  31.875
3     27.875  32.125
4     27.875  32.375
...      ...     ...
6197  51.125  18.875
6198  51.125  19.125
6199  51.125  19.375
6200  51.125  19.625
6201  51.125  19.875

[6202 rows x 2 columns]

In [56]:
# Combine the lat/lon columns and the time series data
Recharge_with_coordinates = pd.concat([lat_lon_df, Recharge_values_nocoordinates], axis=1)
Recharge_with_coordinates

,lat,lon,2003-01-15 00:00:00,2003-02-15 00:00:00,2003-03-15 00:00:00,2003-04-15 00:00:00,2003-05-15 00:00:00,2003-06-15 00:00:00,2003-07-15 00:00:00,2003-08-15 00:00:00,...,2014-03-15 00:00:00,2014-04-15 00:00:00,2014-05-15 00:00:00,2014-06-15 00:00:00,2014-07-15 00:00:00,2014-08-15 00:00:00,2014-09-15 00:00:00,2014-10-15 00:00:00,2014-11-15 00:00:00,2014-12-15 00:00:00
0,27.875,31.375,0.117917,0.037445,0.031139,0.043059,0.032451,0.029778,0.037662,0.036935,...,0.125192,0.379790,0.405382,0.240707,0.180818,0.159148,0.116869,0.098342,0.080150,0.074325
1,27.875,31.625,0.176378,0.053420,0.045770,0.055883,0.042992,0.037316,0.042863,0.041273,...,0.216304,0.533836,0.491260,0.294883,0.219995,0.185947,0.137381,0.114908,0.092752,0.088661
2,27.875,31.875,0.343629,0.099991,0.114001,0.117078,0.086958,0.070166,0.067739,0.066843,...,0.621630,0.817113,0.678292,0.438936,0.320214,0.256335,0.193181,0.157218,0.123750,0.128051
3,27.875,32.125,0.455442,0.133010,0.208234,0.227642,0.158476,0.124347,0.115224,0.125963,...,1.280425,1.082211,0.958502,0.636234,0.460764,0.374898,0.286763,0.224327,0.171804,0.179135
4,27.875,32.375,0.595644,0.170978,0.339615,0.378077,0.250854,0.193142,0.188029,0.208003,...,2.297246,1.572195,1.392986,0.914512,0.657371,0.550678,0.423360,0.317829,0.237099,0.250603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,51.125,18.875,96.772988,17.815239,8.175088,4.063623,10.163427,5.627854,8.971266,23.774272,...,20.056500,7.658954,25.261906,30.419326,25.358789,23.206425,33.970875,17.328129,19.246850,23.034309
6198,51.125,19.125,95.641839,17.821400,7.917759,3.992385,11.383339,5.881222,8.833718,25.173555,...,21.692461,7.847368,26.451429,31.853587,22.400234,25.058814,29.865191,16.255366,17.473019,22.845805
6199,51.125,19.375,94.408325,17.906836,7.871176,4.053029,13.688114,6.546657,9.045713,27.414889,...,23.856447,8.444328,30.701040,36.200521,21.769083,29.648357,28.456392,16.046104,16.195221,22.800258
6200,51.125,19.625,93.194514,17.787481,7.588753,3.962250,12.570707,6.247813,8.479983,27.482020,...,23.832563,8.822248,34.465160,33.813831,21.105550,32.927236,27.205586,15.763117,15.480643,22.153199
6201,51.125,19.875,92.001383,17.500665,7.089419,3.788899,8.730490,5.506353,7.770480,24.997932,...,21.941510,9.029115,37.132975,27.102432,20.352763,33.277842,24.227950,14.918136,15.490322,20.843987

In [57]:
Recharge_with_coordinates.to_csv('recharge_with_coord.csv', index=False)